html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}





h1{
    font-size: 36px;
}
p{
    color: white;
    font-size: 16px;
}

.home,.offer{
    z-index: -10000;
}

/* =========================== container =========================== */

.container{
    width: 96%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .container{
        width: 720px;
    }
}

@media (min-width: 1024px){
    .container{
        width: 960px;
    }
}

@media (min-width: 1440px){
    .container{
        width: 1100px;
    }
}



/* =========================== navigation  =========================== */

nav{
    position: fixed;
    width: 100%;
    background-color: #292e2e;
    
    
}
nav a{
    color: white;
    text-decoration: none;
}

.nav-btn{
    width: 25px;
    color: white;
}
.nav-links{
    display: none;
}
.nav-company{
    font-weight: 600;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
/* .nav-links{
    display: flex;
    justify-content: space-between;
    width: 25%;
} */
.nav-links a{
    transition: 1s all;
}
.nav-links a:hover{
    transform: scale(1.3);
    color: #c0a0dc;
}  

.nav-company{
    transition: 1s all;
}
.nav-company:hover{
    text-decoration: underline;
}

/* ==================burger menu for mobile =======================*/


.hide{
    display: none;
}


.burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background: #c0a0dc;;
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}



@media only screen and (max-width: 1000px) {

    .nav-links {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        justify-content: space-around;
        } 

    .nav-item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: .15em;
        border-radius: 10px;
        transition: .3s ease-in-out;
    }
    
     /* .nav-item:hover::after {
        width: 100%;
    }  */

    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }


    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: #1f1e1e;
        background-color: rgba(30, 31, 30, 0.1);
        backdrop-filter: blur(1rem);
        height: 50vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
        /* z-index: 10; */
    }

    .nav-links.active {
        transform: translate(0%);
    }

    .nav-item {
        color: #c0a0dc;;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
}


@media only screen and (max-width: 760px) {
    .nav-links{
        width: 100%;
    }
}

/* ================================================ */

/* =========================== home  =========================== */

.home{
    width: 100vw;
    height: calc(100vh - 70px);
    background-image: url(../img/background10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}

.home-shadow .container{
    display: flex;
    align-items: center;
    height: 100% ;
}
.home-text{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
} 

/* .home-text h1{
    font-size: 36px;
} */

.home-text h2{
    font-size: 24px;
}

.home-text button{
    background: none;
    border: 3px solid white;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 1s all;
    cursor: pointer;
}

.home-text button:hover{
    background-color: white;
    color: black;
}
.home-text button:focus{
    background-color: #ff0404;  
    color: #fff;
}

/* =========================== offer section  =========================== */

.offer{
    padding: 5% 0;
    background-color: black;
    color: white;
}

.offer h1{
    margin-bottom: 50px;
}
.offer h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.offer h3{
    font-size: 12px;
}

.offer-list{
    display: flex;
    flex-wrap: wrap;
}

.offer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 150px;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #7b668d;
    transition: 1s transform;
    cursor: default;

}



.offer-box:nth-of-type(3n){
margin-right: 0;
}

.offer h1:hover{
    text-decoration: underline;
}
    
/* =========================== footer  =========================== */

footer{
    background-color: #292e2e;
    border-top-left-radius:  30px;
    border-top-right-radius:  30px;
}

footer a{
    color: black;
    text-decoration: none;
    color: white;
    
}

footer .container{
    height: 90px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}



.footer-contact{
    display: flex;
    flex-direction: column;
}

.footer-contact a{
    color: white;
    transition: 1s color; 
    font-weight: bold;   
}

.footer-contact a:hover{
    color: #c0a0dc;
}


.media-icon i{
    color: #fff;
    transition: 1s all;
    
}

.media-icon i:hover{
    transform: scale(1.3);
    color: #c0a0dc;

}


/* =========================== footer media =========================== */

@media screen and (max-width: 660px){

    footer .container{
        padding: 10px;
        height: 150px;
        flex-direction: column;
        
    }

    .footer-info,.footer-contact{
        /* width: auto; */
        text-align: center;
    }
    .footer-contact a,.nav-company {
        color: #c0a0dc;
    }
}

/* =========================== skip navigation =========================== */
.skip-nav{
    text-decoration: none;
    color: black;
    background-color: #fff ;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    position: absolute;
    left: 0.5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    z-index: 100;
}

.skip-nav:focus{
    transform: translateY(0);
}