html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


h1{
    font-size: 36px;
}
p{
    color: white;
    font-size: 16px;
}

.home,.offer{
    z-index: -10000;
}

/* =========================== container =========================== */

.container{
    width: 96%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .container{
        width: 720px;
    }
}

@media (min-width: 1024px){
    .container{
        width: 960px;
    }
}

@media (min-width: 1440px){
    .container{
        width: 1100px;
    }
}



/* =========================== navigation =========================== */
header{
    height: 90px;
    background: #292e2e;
    font-family: "Open Sans",sans-serif;
    position: fixed;
    width: 100%;
}

 
.inner-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}
 
.inner-width .nav-company{
  text-decoration: none;
  color: #fff;
}

.nav-company:hover{
    text-decoration: underline;
}
 
 
.navigation-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
}
 
.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  text-decoration: none;
}
 
.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}
 
.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}
 
.home-nav{
  color: #ff6b6b;
}
 
.offer-nav{
  color: #0abde3;
}
 
.contact-nav{
  color: #1dd1a1;
}
 
.hamburger{
  position: relative;
  float: right;
  height: 90px;
  line-height: 90px;
  color: #fff;
  font-size: 26px;
  display: none ;
  cursor: pointer;
}
 
 
@media screen and (max-width:700px) {

    .hamburger {
	    height: 60px;
	    width: 60px;
	    display: inline-block ;
	    border: 3px solid white;
	    border-radius: 50%;
	    position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    z-index: 100;
	    cursor: pointer;
	    transform: scale(0.8);
	    margin-right: 20px;
    }
    .hamburger:after {
    	position: absolute;
    	content: '';
    	height: 100%;
    	width: 100%;
    	border-radius: 50%;
    	border: 3px solid white;
    	animation: hamburger_puls 1s ease infinite;
    }
    .hamburger .bar {
    	height: 2px;
    	width: 30px;
    	position: relative;
    	background-color: white;
    	z-index: -1;
    }
    .hamburger .bar::after,
    .hamburger .bar::before {
    	content: '';
    	position: absolute;
    	height: 100%;
    	width: 100%;
    	left: 0;
    	background-color: white;
    	transition: 0.3s ease;
    	transition-property: top, bottom;
    }
    .hamburger .bar::after {
    	top: 8px;
    }
    .hamburger .bar::before {
    	bottom: 8px;
    }
    .hamburger.active .bar::before {
    	bottom: 0;
    }
    .hamburger.active .bar::after {
    	top: 0;
    }

    .navigation-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;

        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;

        background-color: rgb(31, 30, 30);
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left;
    }
 
    .navigation-menu a{
        
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        padding: 0;
        margin-left: 0;
    }

    .navigation-menu i{
        font-size: 2rem;
        margin-right: 0;
    }
 
    .navigation-menu.active{
        left: 0%;
    }


}

/* =========================== home  =========================== */

.home{
    width: 100vw;
    height: calc(100vh - 70px);
    background-image: url(../img/background10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}

.home-shadow .container{
    display: flex;
    align-items: center;
    height: 100% ;
}
.home-text{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
} 

/* .home-text h1{
    font-size: 36px;
} */

.home-text h2{
    font-size: 24px;
}

.home-text button{
    background: none;
    border: 3px solid white;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 1s all;
    cursor: pointer;
}

.home-text button:hover{
    background-color: white;
    color: black;
}


/* =========================== offer section  =========================== */

.offer{
    padding: 5% 0;
    background-color: black;
    color: white;
}

.offer h1{
    margin-bottom: 50px;
}
.offer h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.offer h3{
    font-size: 12px;
}

.offer-list{
    display: flex;
    flex-wrap: wrap;
}

.offer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 150px;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #7b668d;
    transition: 1s transform;
    cursor: default;

}



.offer-box:nth-of-type(3n){
margin-right: 0;
}

.offer h1:hover{
    text-decoration: underline;
}
    
/* =========================== footer  =========================== */

footer{
    background-color: #292e2e;
    border-top-left-radius:  30px;
    border-top-right-radius:  30px;
}

footer a{
    color: black;
    text-decoration: none;
    color: white;
    
}

footer .container{
    height: 90px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}



.footer-contact{
    display: flex;
    flex-direction: column;
}

.footer-contact a{
    color: white;
    transition: 1s color; 
    font-weight: bold;   
}

.footer-contact a:hover{
    color: #c0a0dc;
}


.media-icon i{
    color: #fff;
    transition: 1s all;
    
}

.media-icon i:hover{
    transform: scale(1.3);
    color: #c0a0dc;

}


/* =========================== footer media =========================== */

@media screen and (max-width: 660px){

    footer .container{
        padding: 10px;
        height: 150px;
        flex-direction: column;
        
    }

    .footer-info,.footer-contact{
        /* width: auto; */
        text-align: center;
    }
    .footer-contact a,.nav-company {
        color: #c0a0dc;
    }
}

/* =========================== skip navigation =========================== */
.skip-nav{
    text-decoration: none;
    color: black;
    background-color: #fff ;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    position: absolute;
    left: 0.5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    z-index: 100;
}

.skip-nav:focus{
    transform: translateY(0);
}



/* =========================== @keyframes  =========================== */


@keyframes hamburger_puls {
    0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}